@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Sansita+Swashed:wght@700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* LOGIN MODAL */

.loginHeader {
    background-color: #614385;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.loginHeader h2 {
    margin-top: -5px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 20px 20px;
    height: 80%;
}

.loginUserName {
    padding: 20px;
    display: flex;
}

.loginUserName i {
    background-color: #614385;
    color: white;
    padding: 15px 16px 15px 15px;
    border-radius: 5px;
    margin-right: -5px;
}

#userName {
    background-color: rgb(236, 236, 236);
    border: 1px solid #614385;
    width: 200px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    outline: none;
    transition: background-color 0.5s;
}

#userName:focus {
    background-color: rgb(252, 255, 224);
}

.loginUserPassword {
    padding: 20px;
    display: flex;
}

.loginUserPassword i {
    background-color: #614385;
    color: white;
    padding: 15px 16px 15px 15px;
    border-radius: 5px;
    margin-right: -5px;
}

#userPassword {
    background-color: rgb(236, 236, 236);
    border: 1px solid #614385;
    width: 200px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    outline: none;
    transition: background-color 0.5s;
}

#userPassword:focus {
    background-color: rgb(252, 255, 224);
}

.loginUserSubmit {
    padding: 10px;
    width: 240px;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
    background-color: #614385;
    color: white;
    margin-top: 15px;
    transition: background-color 0.5s;
}

.loginUserSubmit:hover {
    background-color: #412366;
}

.loginUserResetPassword {
    margin-top: 20px;
    text-decoration: none;
    color: rgb(37, 37, 37);
}

.loginUserResetPassword:hover {
    color: rgb(59, 59, 59);
}

.loginFooter {
    background-color: #4d3070;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 400px;
}

.loginFooter a {
    text-decoration: none;
    color: white;
}

.loginFooter a:hover {
    color: rgb(209, 209, 209);
}

/* -------------------------------------- */

/* HEADER PAGE */

.page-header {
    background-color: #614385;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    z-index: 1;
}

.page-header__logobox {
    padding: 10px 0px 20px 50px;
}

.page-header__logolink {
    text-decoration: none;
}

.page-header__logotitle {
    font-family: 'Sansita Swashed', cursive;
    color: #ffffff;
    text-shadow: 3px 3px 3px rgba(161, 0, 108, 1);
    font-size: 35px;
}

.page-header__logotitle:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

/* -------------------------------------- */

/* BARRA DE NAVEGACION */

.page-header__navbox {
    padding: 5px;
    display: flex;
}

.page-header__navlist {
    display: flex;
}

.page-header__navitem {
    list-style: none;
    padding: 10px;
}

.page-header__navlink {
    text-decoration: none;
    color: #ffffff;
    font-size: 23px;
    padding: 5px 10px;
}

.page-header__navlink:hover {
    text-shadow: 3px 3px 3px rgba(161, 0, 108, 1);
}

/* -------------------------------------- */

/* BOTON DE LOGIN */

.page-header__buttonlogin {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(161, 0, 108);
    padding: 0px 0px 0px 15px;
    margin-right: 50px;
    margin-left: 30px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.fa-user-circle-size {
    font-size: 40px;
    margin-right: -1px;
    margin-left: 10px;
}

/* -------------------------------------- */

/* LOGIN MODAL */

#loginCheckbox {
    display: none;
}

.loginClose {
    position: absolute;
    left: 320px;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

.loginClose:hover {
    color: rgb(187, 187, 187);
}

.loginBlack {
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.808);
    z-index: 2;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.loginContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.80);
    width: 350px;
    height: 450px;
}

#loginCheckbox:checked ~ .loginBlack {
    opacity: 1;
    visibility: visible;
    transition: 1s;
}

/* -------------------------------------- */

/* BOTON DE LOGIN ANIMACION */

.page-header__buttonlogin span {
    position: relative;
    transition: 0.5s;
}

.page-header__buttonlogin span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.page-header__buttonlogin:hover span {
    padding-right: 25px;
}

.page-header__buttonlogin:hover span:after {
    opacity: 1;
    right: 0;
}

.page-header__buttonlogin:hover {
    box-shadow: -2px 3px 12px -2px rgba(0,0,0,0.6);
    background-color: rgb(194, 24, 137);
}

/* --------------------------------------------------- */

/* MAIN PAGE */

.page-main {
    background-color: rgb(95, 0, 95);
    display: inline-block;
    padding-top: 50px;
    height: 90vh;
}

.page-main__section {
    padding: 10px;
}

.page-main__laptopbox {
    width: 40%;
    float: left;
}

.page-main__laptopfigure {
    margin-left: -160px;
    margin-top: 30px;
    animation-name: laptop-opacity;
    animation-delay: 0s;
    animation-duration: 4s;
}

@keyframes laptop-opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.page-main__laptopimg {
    width: 100%;
}

.page-main__infobox {
    width: 60%;
    float: left;
    padding: 15px;
    animation-name: infobox-opacity;
    animation-delay: 0s;
    animation-duration: 3s;
}

@keyframes infobox-opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.page-main__infotitle {
    font-family: 'Sansita Swashed', cursive;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.85);
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    padding: 30px 10px 10px 10px;
}

.page-main__linebox {
    display: flex;
    justify-content: center;
}

.page-main__line {
    width: 400px;
    border-bottom: 5px solid rgb(161, 0, 108);
    animation-name: line-growth;
    animation-delay: 0s;
    animation-duration: 2s;
}

@keyframes line-growth {
    from {
        width: 0px;
    }
    to {
        width: 400px;
    }
}

.page-main__infodescription {
    color: #ffffff;
    text-align: justify;
    padding: 40px 30px 10px 30px;
    font-size: 20px;
}

.page-main__infolist {
    color: #ffffff;
    list-style: none;
    padding: 40px 10px 10px 10px
}

.page-main__infoitem {
    padding: 10px;
    font-size: 20px;
}

.page-main__infoitem--icon1:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 20px;
    display: inline-block;
    width: 1.5em;
    color: rgb(161, 0, 108);
}

.page-main__infoitem--icon2:before {
    content: "\f073";
    font-family: FontAwesome;
    font-size: 20px;
    display: inline-block;
    width: 1.5em;
    color: rgb(161, 0, 108);
}

.page-main__infoitem--icon3:before {
    content: "\f26c";
    font-family: FontAwesome;
    display: inline-block;
    width: 1.8em;
    color: rgb(161, 0, 108);
}

.page-main__infoitem--icon4:before {
    content: "\f500";
    font-family: FontAwesome;
    display: inline-block;
    width: 1.8em;
    color: rgb(161, 0, 108);
}

/* --------------------------------------------------- */

/* MENU MOBILE */

.page-sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgb(66, 1, 66);
    background: linear-gradient(90deg, rgba(98,6,95,1) 0%, rgba(98,6,95,1) 0%, rgba(78,6,98,1) 100%);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.page-sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(148, 148, 148);
    display: block;
    transition: 0.3s;
}

.page-sidebar a:hover {
    color: #ffffff;
}

.page-sidebar .page-sidebar__closebuttom {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.page-header__sidebar-openbuttom {
    font-size: 18px;
    cursor: pointer;
    background-color: rgb(161, 0, 108);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 100px;
    color: white;
    padding: 10px 15px;
    margin-right: 50px;
    display: none;
}

.page-header__sidebar-openbuttom:hover {
    box-shadow: -2px 3px 12px -2px rgba(0,0,0,0.6);
    background-color: rgb(194, 24, 137);
}

@media only screen and (max-height: 450px) {
    .page-sidebar {
        padding-top: 15px;
    }
    .page-sidebar a {
        font-size: 18px;
    }
}

/* --------------------------------------------------- */

/* RESPONSIVE DESIGN */

@media only screen and (max-width: 1000px) {
    .page-header__navlist {
        display: none;
    }
    .page-header__buttonlogin {
        display: none;
    }
    .page-main__infobox {
        float: none;
        width: 100%;
    }
    .page-main__infotitle {
        font-size: 35px;
        padding: 10px;
    }
    .page-main__laptopbox {
        float: none;
        width: 100%;
    }
    .page-main__laptopfigure {
        margin-left: 0px;
        margin-top: 0px;
        display: flex;
        justify-content: center;
    }
    .page-main__laptopimg {
        width: 90%;
    }
    .page-header__sidebar-openbuttom {
        display: inline;
    }
}

@media only screen and (max-width: 450px) {
    .page-main__line {
        width: 300px;
    }
    .page-main__infotitle {
        font-size: 30px;
    }
    .page-header__logobox {
        padding: 10px 0px 20px 20px;
    }
    .page-header__sidebar-openbuttom {
        margin-right: 20px;
    }
    @keyframes line-growth {
        from {
            width: 0px;
        }
        to {
            width: 300px;
        }
    }
}

@media only screen and (max-width: 375px) {
    .page-main__infotitle {
        font-size: 26px;
    }
}

@media only screen and (max-width: 320px) {
    .page-main__infotitle {
        font-size: 21px;
    }
    .page-header__logobox {
        padding: 10px 0px 20px 5px;
    }
    .page-header__sidebar-openbuttom {
        margin-right: 0px;
    }
    .page-main__line {
        width: 250px;
    }
    @keyframes line-growth {
        from {
            width: 0px;
        }
        to {
            width: 250px;
        }
    }
}

/* --------------------------------------------------- */